<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>VueJs Components - Bluuweb</title>
</head>
<body>
    <div id="app-components">
        <div class="container">
            <h1>{{ title }}</h1>
            
            <hr>
            <subtitle></subtitle>

            <hr>
            <!-- Progressbar one independent -->
            <progressbar></progressbar>
            <br>
            <!-- Progressbar two independent -->
            <progressbar></progressbar>

            <hr>
            <mastercom></mastercom>
            
        </div>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="instances/subtitle_comp.js"></script> -->

</body>
</html>